<% content_for :title do %>Sign Up<% end %>

<% if @user.errors.any? %>
  <div class="alert">
    <h4><%= pluralize @user.errors.count, 'Error' %></h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<span class="section-header">Sign Up</span>

<hr>

<%= form_for @user, :url => 'create_user' do |f| %>
  <%= f.label :email, "Email (@uci.edu)" %>
  <%= f.text_field :email %>
  
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit 'Submit', :class => 'btn btn-small btn-inverse' %>
 <% end %>
