<div class="row-fluid">
  <div class="span8">
    <span class="section-header">
      My Tasks
    </span>
    
    <div class="pull-right" id="sort">
      <div class="btn-group">
        <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
          Order By
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Due date", root_url(:sort => :due) %>
          </li>
          <li>
            <%= link_to "Course", root_url(:sort => :course) %>
          </li>
        </ul>
      </div>
    </div>
    
    <hr>
    
    <% if @user_assignments.any? %>
      <% @user_assignments.each do |assignment| %>
        <div class="well well-small well-inner <%= @assignment_outlines[assignment.id] %>">
          <div class="event-header">
            <span class="event-title pull-left"><%= assignment.title %></span>
            <span class="pull-right"><%= assignment.course.display_name %></span><br>
          </div>
          
          <% unless assignment.notes.empty? %>
            <%= assignment.notes %><br>
          <% end %>
          
          <span class="event-date">Due: <%= assignment.due.strftime('%-m/%-d/%Y')%></span>&nbsp;&middot;
          <a href="#">Report</a>&nbsp;&middot;
          <%= link_to "Delete", delete_assignment_path(assignment.id), :method => :delete, :confirm => 'Are you sure you want to delete the assignment? The assignment will be deleted for the entire course.' %>
          
          <span class="pull-right">
            <%= form_tag complete_assignment_path, :action => 'complete_assignment', :method => 'post' do %>
              <label class="checkbox">
                <input type="hidden" name="id" value="<%= assignment.id %>">
                <input type="checkbox" name="completed" onchange="this.form.submit()" <% if current_user.assignments.include? assignment %>checked="checked"<% end %>>
                Completed
              </label>
            <% end %>
          </span>
        </div>
      <% end %>
    <% else %>
      <center>
        <h4>No assignments</h4>
      </center>
    <% end %>
    
    <% if @completed_assignments.any? %>
      <span class="section-header">
        Completed Tasks
      </span>
      
      <hr>
      
      <% @completed_assignments.each do |assignment| %>
        <div class="well well-small well-inner outline-completed">
          <div class="event-header">
            <span class="event-title pull-left"><%= assignment.title %></span>
            <span class="pull-right"><%= assignment.course.display_name %></span><br>
          </div>
          
          <% unless assignment.notes.empty? %>
            <%= assignment.notes %><br>
          <% end %>
          
          <span class="event-date">Due: <%= assignment.due.strftime('%-m/%-d/%Y')%></span>&nbsp;&middot;
          <a href="#">Report</a>&nbsp;&middot;
          <%= link_to "Delete", delete_assignment_path(assignment.id), :method => :delete, :confirm => 'Are you sure you want to delete the assignment? The assignment will be deleted for the entire course.' %>
          
          <span class="pull-right">
            <%= form_tag complete_assignment_path, :action => 'complete_assignment', :method => 'post' do %>
              <label class="checkbox">
                <input type="hidden" name="id" value="<%= assignment.id %>">
                <input type="checkbox" name="completed" onchange="this.form.submit()" <% if current_user.assignments.include? assignment %>checked="checked"<% end %>>
                Completed
              </label>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="span4">
    <div class="well well-small">      
      <h4>Create a New Assignment</h4>
      <%= form_for @assignment, :url => "create_assignment" do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => 'Homework 4' %>
        
        <%= f.label :notes %>
        <%= f.text_field :notes, :placeholder => 'Covers chapters 3-6' %>
        
        <%= f.label :due_date %>
        <%= f.text_field :due, :class => 'datepicker', :placeholder => '2013-3-14' %>
                
        <%= f.label :course %>
        <%= collection_select(:assignment, :course_id, @user_courses, :id, :display_name) %>
        
        <%= f.submit "Create", :class => 'btn btn-small btn-inverse'%>
      <% end %>
      
      <hr>
      
      <h4>Join an Existing Course</h4>
      <%= form_tag join_course_path do %>
        <%= collection_select(:join_course, :id, @courses, :id, :display_name) %>
        <br>
        <%= submit_tag "Join", :class => 'btn btn-small btn-inverse' %>
      <% end %>
      
      <hr>
      
      <h4>Create a New Course</h4>
      <%= form_for @course, :url => "create_course" do |f| %>          
          <%= f.label :department %>          
          <%= f.select :department, @departments %>
          
          
          <%= f.label :number %>
          <%= f.text_field :number, :placeholder => '139W' %>

        <div class="actions">
          <%= f.submit "Create", :class => 'btn btn-small btn-inverse' %>
        </div>
      <% end %>
    </div>
  </div>
</div>