<div class="row-fluid">
  <div class="span8">
    <span class="section-header">
      My Tasks
    </span>
    
    <div class="pull-right" id="sort">
      <div class="btn-group">
        <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
          Order By
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Due Date</a>
          </li>
          <li>
            <a href="#">Course</a>
          </li>
          <li>
            <a href="#">Difficulty</a>
          </li>
        </ul>
      </div>
    </div>
    
    <hr>
    
    <% if @user_assignments.any? %>
      <% @user_assignments.each do |assignment| %>
        <div class="well well-small well-inner">
          <div class="event-header">
            <span class="event-title pull-left"><%= assignment.title %></span>
            <span class="pull-right"><%= assignment.course.display_name %></span><br>
          </div>
          
          <% unless assignment.notes.empty? %>
            <%= assignment.notes %><br>
          <% end %>
          
          <span class="event-date">Due: <%= assignment.due.strftime('%m/%d/%Y')%></span>
          <span class="pull-right"><%= link_to "Delete", delete_assignment_path(assignment.id), :method => :delete, :confirm => 'Are you sure you want to delete the assignment? The assignment will be deleted for the entire course.' %></span>
        </div>
      <% end %>
            
      <div class="well well-small well-inner outline-red">
        <div class="event-header">
          <span class="event-title pull-left">Coding Project</span>
          <span class="pull-right">CS 143A</span><br>
        </div>
        Covers all material from discussion<br>
        <span class="event-date">Due: 2/26/2013</span>
      </div>
      
      <div class="well well-small well-inner outline-yellow">
        <div class="event-header">
          <span class="event-title pull-left">Project 3</span>
          <span class="pull-right">CS 122B</span><br>
        </div>
        XML Processing and AJAX<br>
        <span class="event-date">Due: 2/28/2013</span>
      </div>
      
      <div class="well well-small well-inner outline-blue">
        <div class="event-header">
          <span class="event-title pull-left">Wikipedia Article Final Draft</span>
          <span class="pull-right">ICS 139W</span><br>
        </div>
        Turn in link to article on EEE DropBox<br>
        <span class="event-date">Due: 3/2/2013</span>  
      </div>
      
      <div class="well well-small well-inner outline-green">
        <div class="event-header">
          <span class="event-title pull-left">Wikipedia Article Final Draft</span>
          <span class="pull-right">ICS 139W</span><br>
        </div>
        Turn in link to article on EEE DropBox<br>
        <span class="event-date">Due: 3/2/2013</span>  
      </div>
      
      <div class="well well-small well-inner outline-green">
        <div class="event-header">
          <span class="event-title pull-left">Tutorial Presentation</span>
          <span class="pull-right">ICS 139W</span><br>
        </div>
        Turn in slides by 12:20AM on day of presentation<br>
        <span class="event-date">Due: 3/4/2013</span>  
      </div>
    <% else %>
      <center>
        <h4>No assignments</h4>
      </center>
    <% end %>
  </div>
  
  <div class="span4">
    <div class="well well-small">      
      <h4>Create a New Assignment</h4>
      <%= form_for @assignment, :url => "create_assignment" do |f| %>
        <% if @assignment.errors.any? %>
          <div class="alert">
            <h4>Invalid data</h4>
            <% @assignment.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          </div>
        <% end %>
        
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => 'Homework 4' %>
        
        <%= f.label :notes %>
        <%= f.text_field :notes, :placeholder => 'Covers chapters 3-6' %>
        
        <%= f.label :due_date %>
        <%= f.text_field :due, :class => 'datepicker', :placeholder => '2013-3-14' %>
                
        <%= f.label :course %>
        <%= collection_select(:assignment, :course_id, current_user.courses, :id, :display_name) %>
        
        <%= f.submit "Create", :class => 'btn btn-inverse'%>
      <% end %>
      
      <hr>
      
      <h4>Join an Existing Course</h4>
      <%= form_tag join_course_path do %>
        <%= collection_select(:join_course, :id, @courses, :id, :display_name) %>
       
        <%= submit_tag "Join", :class => 'btn btn-inverse' %>
      <% end %>
      
      <hr>
      
      <h4>Create a New Course</h4>
      <%= form_for @course, :url => "create_course" do |f| %>
          <% if @assignment.errors.any? %>
            <div class="alert">
              <h4>Invalid data</h4>
              <% @assignment.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            </div>
          <% end %>
          
          <%= f.label :department %>
          <%= f.text_field :department, :placeholder => 'ICS' %>
          
          <%= f.label :number %>
          <%= f.text_field :number, :placeholder => '139W' %>

        <div class="actions">
          <%= f.submit "Create", :class => 'btn btn-inverse' %>
        </div>
      <% end %>
    </div>
  </div>
</div>