<!DOCTYPE html>
<html>
  <head>
    <title>StackerTracker</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="pull-right" id="user-links">
        <% if current_user %>
          <%= current_user.email %>&nbsp;&middot;
          <%= link_to "Log Out", log_out_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %>&nbsp;&middot;
          <%= link_to "Log In", log_in_path %>
        <% end %>
      </div>
      
      <div id="site-title">
        <h1 id="site-title">StackerTracker</h1>
      </div>
      
      <div class="well well-small border">
        <%= yield %>
      </div>
      
      ICSSC WebJam Winter 2013
      
      <span class="pull-right">
        Nealon Young, Trung Nguyen, Michael Bulotano, Lance Mar
      </span>
    </div>
  </body>
</html>
