<!DOCTYPE html>
<html>
  <head>
    <title>DueQueue</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lobster+Two:400,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="pull-right" id="user-links">
        <% if current_user %>
          <%= current_user.first_name %> <%= current_user.last_name %>&nbsp;&middot;
          <%= link_to "Settings", settings_path %>&nbsp;&middot;
          <%= link_to "Log Out", log_out_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %>&nbsp;&middot;
          <%= link_to "Log In", log_in_path %>
        <% end %>
      </div>
      
      <div id="site-title">
        <h1>
          <%= link_to 'DueQueue', root_url %>
        </h1>
      </div>
      
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
          <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="alert alert-error">
          <%= flash[:alert] %>
          <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
      <% end %>
      
      <div class="well well-small border">
        <%= yield %>
      </div>
      
      <div id="footer">
        <span class="pull-right">
          Nealon Young, Michael Bulotano, and Lance Mar
        </span>
        
        ICSSC WebJam Winter 2013 &middot; <%= link_to 'GitHub Project', 'https://github.com/nealyoung/WebJam'%> &middot; <%= link_to 'Follow us on Twitter', 'http://twitter.com/duequeue'%>
      </div>
    </div>
  </body>
</html>
